{% extends "shop/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div class="product-detail">
    {% thumbnail product.image "500x500" crop="center" as im %}
        <img src="{{ im.url }}" width=" im.width " heigh="{{ im.height }}">
    {% endthumbnail %}

    <h1>{{ product.name }}</h1>

    <h2>
        <a href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
        </a>
    </h2>

    <p class="price">${{ product.price }}</p>
    {{ product.description|linebreaks }}
    </div>
{% endblock %}
